[Desktop Entry]
Name=Xenoviolet
Comment=A dark window decoration with extruding corners and a neon shadow
X-KDE-PluginInfo-Author=Tully Turk
X-KDE-PluginInfo-Email=turk.tully@gmail.com
X-KDE-PluginInfo-Website=KDE Store
X-KDE-PluginInfo-Version=2.2
X-KDE-PluginInfo-License=GPL_V3
